@using Newtonsoft.Json
@{

}

<h1>Payment Confirmation</h1>

<p>Thanks for your purchase.</p>

@if (Session["CreditCard.Charge"] != null)
{
	<h2>Charge</h2>
	<code>
		@Html.Raw(JsonConvert.SerializeObject(Session["CreditCard.Charge"]))
	</code>
}

@if (Session["CreditCard.Capture"] != null)
{
	<h2>Capture</h2>
	<code>
		@Html.Raw(JsonConvert.SerializeObject(Session["CreditCard.Capture"]))
	</code>
}
