@using Newtonsoft.Json
@{
    ViewBag.Title = "PayPal Payment Succesful";
}

<h1>Payment Confirmation</h1>

<p>Thanks for your purchase.</p>

<code>
	@Html.Raw(JsonConvert.SerializeObject(Model))
</code>