@using System.Configuration
@{
	ViewBag.Title = "Pay with PayPal (Checkout.com alternative payment)";
}

<p class="lead">Thank you for buying this kettle</p>
<img src="http://media.4rgos.it/s/Argos/5571390_R_SET?$Main768$&w=620&h=620" />

